<div class="col-12 col-lg-8 offset-lg-2">
  <div class="card shadow-lg mt-4" style="min-height:200px;">
    <div class="card-body p-5 d-flex flex-column justify-content-center">
      <h2 class="text-center mb-4">
        Enter quiz code
      </h2>
      <form id="quiz-code-form">
        <input type="text" class="form-control form-control-lg text-center" placeholder="ottersrock">
        <small class="form-text">Hit <span class="badge bg-tertiary">Enter</span> to start</small>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#quiz-code-form').submit(function (e) {
      e.preventDefault();
      var quizCode = $(this).find('input').val()
      window.location.href = '/quiz/' + quizCode
    })
  })
</script>